extends layout

block content
  div F12를 눌러 console 탭과 network 탭을 확인하세요.
  script(src='/socket.io/socket.io.js')
  script.
    var socket = io.connect("ws://localhost:8005", { // 웹소켓 객체 생성. protocol이 http가 아닌 ws
      path: '/socket.io' // 서버의 path 옵션과 일치해야 서버와 연결 가능
    });
    socket.on('news', function (data) { // 서버가 보낸 news 이벤트를 받음 
      console.log(data);
      socket.emit('reply', 'Hello Node.js'); // 서버의 reply 이벤트리스너로 답장
    });